<h3>Academic Analysis</h3>
<br>
Batch Performance.
<br>
<%= image_tag "analysis/batch.png", class: "img-responsive", alt: "" %> 
<br>
The Performance Trends of the first class honours students of the respective batches.
<%= image_tag "analysis/first_class_performance.png", class: "img-responsive", alt: "" %><br>
The Overall Performance Trends of the first class honours students.
<br>
<%= image_tag "analysis/first_class_trend.png", class: "img-responsive", alt: "" %> 
