<!-- Selection Table (sortable columns) -->
<!-- CGPA, Number of courses -->
<!-- Risk (based on the number of high impact courses), Difficulty -->

<h1>Prediction</h1>

Achievable maximum CGPA: <%= @best_result.fitness %>
<br>
<%= @results.length %> possible paths.
<br>
<br>
